@{
    Layout = "_Layout";
}

<div class="row " ng-controller="HomeCtrl" ng-init="init()">
    <div class="col-12">
        <div class="row">
            <div class="col-8 mt-2_7">
                <div class="card">
                    <h5 class="my-card-title card-title">öğrenci listesi</h5>
                    <div class="card-body">
                        <div class="card m-1">
                            <h5 class="my-card-title card-title">Filter</h5>
                            <div class="card-body">
                                <form class="row g-4">
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass"></i></span>
                                            <input ng-model="AdSoyadFilter" type="text" class="form-control" placeholder="Ara" aria-label="Ara" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-microphone"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="dropdown dropright">
                                            <button class="btn bg-light w-100  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span ng-repeat="h in HobiFilter">{{h.label}},</span>
                                                <span ng-if="HobiFilter.length==0">Hobiler</span>
                                                <a ng-if="HobiFilter.length>0" ng-click="clearHobiFilter()"><i class="fa fa-xmark"></i></a>
                                            </button>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li ng-repeat="x in Hobiler"><a class="dropdown-item" ng-click="setHobiFilter(x)">{{x.label}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="dropdown">
                                            <button class="btn bg-light w-100  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                {{SinifOgretmeniFilter.label}}
                                                <a ng-if="SinifOgretmeniFilter.id" ng-click="clearSinifOgretmeniFilter()"><i class="fa fa-xmark"></i></a>
                                                <span ng-if="!SinifOgretmeniFilter.id">Sinif Ogretmeni</span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li ng-repeat="x in SinifOgretmenler"><a class="dropdown-item" ng-click="setSinifOgretmeniFilter(x)">{{x.label}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button ng-click="GetOgrenciler()" class="btn btn-primary mb-3">Ara</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-striped ">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col"><a ng-click="ChangeAdSoyadSort(AdSoyadSort)"><i class="fa " ng-class="{'fa-fw fa-sort':AdSoyadSort==0,'fa-sort-down':AdSoyadSort==1,'fa-sort-up':AdSoyadSort==-1}"></i> Ad Soyad</a></th>
                                    <th ng-click="ChangebolumSort()" scope="col"><i class="fa " ng-class="{'fa-fw fa-sort':bolumSort==0,'fa-sort-down':bolumSort==1,'fa-sort-up':bolumSort==-1}"></i> Bölüm</th>
                                    <th scope="col">Hobiler</th>
                                    <th ng-click="ChangeSinifOgretmeniSort()" scope="col"><i class="fa " ng-class="{'fa-fw fa-sort':SinifOgretmeniSort==0,'fa-sort-down':SinifOgretmeniSort==1,'fa-sort-up':SinifOgretmeniSort==-1}"></i> Sinif Ögretmen</th>
                                    <th scope="col">Rehber Ögretmen</th>
                                    <th scope="col">Işiem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in Ogrenciler" ng-if="Ogrenciler.length>0" ng-class="{'bg-danger':row.delFlag==true}">
                                    <td>{{row.nameFamily}}</td>
                                    <td>{{row.bolum}}</td>
                                    <td><div ng-repeat="h in row.hobilar">{{h}}</div>  </td>
                                    <td>{{row.sinifOgretmeni}}</td>
                                    <td>{{row.rehberOgretmeni}}</td>
                                    <td ng-if="!row.delFlag"><a class="text-primary" role="button" ng-click="Detay(row)">Detay</a> <a class="text-danger" role="button" ng-click="SilOgrenci(row)">Sill</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="" ng-if="OgrencilerCount!=0">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1"><<</a>
                                </li>
                                <li ng-repeat="n in [] | range:(OgrencilerCount/10)+( OgrencilerCount%10==0?0:1)" class="page-item"><a class="page-link" ng-click="ChangePage(n)">{{n}}</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">>></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=""><button class="col-5 offset-7 badge bg-secondary fs-5" ng-click="YeniOgrenci()">Yeni öğrenci ...</button></div>
                <div class="card mt-2">
                    <h5 class="my-card-title card-title">öğrenci form</h5>
                    <div class="card-body">

                        <div class="m-3 row">
                            <label for="exampleDataList" class="form-label">Ad Soyad</label>
                            <input ng-disabled="!AdSoyad" class="form-control" ng-model="AdSoyad" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." />
                        </div>
                        <div class="m-3 row">
                            <label for="exampleDataList2" class="form-label">Bölüm</label>
                            <div ng-disabled="!bolum.id" class="dropdown dropright">
                                <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{bolum.label}}
                                     <a ng-if="bolum.id" ng-click="clearbolum()"><i class="fa fa-xmark"></i></a>
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                    <li ng-repeat="x in bolumler"><a class="dropdown-item" ng-click="setBolum(x)">{{x.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-3 row">
                            <label for="exampleDataList" class="form-label">Hobiler</label>
                            <div ng-disabled="!Hobi.length==0" class="dropdown dropright">
                                <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span ng-repeat="h in Hobi">{{h.label}},</span>
                                    <span ng-if="Hobi.length==0">-select-</span>
                                    <a ng-if="Hobi.length>0" ng-click="clearHobi()"><i class="fa fa-xmark"></i></a>
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                    <li ng-repeat="x in Hobiler"><a class="dropdown-item" ng-click="setHobi(x)">{{x.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-3 row">
                            <label for="exampleDataList" class="form-label">Sinif Ögretmeni</label>
                            <div ng-disabled="!SinifOgretmeni.id" class="dropdown dropright">
                                <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{SinifOgretmeni.label}}
                                    <a ng-if="SinifOgretmeni.id" ng-click="clearSinifOgretmeni()"><i class="fa fa-xmark"></i></a>
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                    <li ng-repeat="x in SinifOgretmenler"><a class="dropdown-item" ng-click="setSinifOgretmeni(x)">{{x.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-3 row">
                            <label for="exampleDataList" class="form-label">Rehber Ögretmeni</label>
                            <div ng-disabled="!RehberOgretmeni.id" class="dropdown dropright">
                                <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{RehberOgretmeni.label}}
                                    <a ng-if="RehberOgretmeni.id" ng-click="clearRehberOgretmeni()"><i class="fa fa-xmark"></i></a>
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                    <li ng-repeat="x in RehberOgretmenler"><a class="dropdown-item" ng-click="setRehberOgretmeni(x)">{{x.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-3 row justify-content-center ">
                            <button ng-disabled="!Ogrenci.id" ng-click="kaydetSubmit()" class="btn btn-primary mb-3 col-5">Kaydet</button>
                        </div>
                    </div>
                </div>

                <!-- modal -->
                <modal visible="showModal" id="new" class="card mt-2">
                    <div class="card mt-2">
                        <h5 class="my-card-title card-title">öğrenci form</h5>
                        <div class="card-body">

                            <div class="m-3 row">
                                <label for="exampleDataList" class="form-label">Ad Soyad</label>
                                <input class="form-control" id="NAdSoyad"  list="datalistOptions"  placeholder="type ad soyad" />
                                
                            </div>
                            <div class="m-3 row">
                                <label for="exampleDataList2" class="form-label">Bölüm</label>
                                <div class="dropdown dropright">
                                    <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{Newbolum.label}}
                                        <a ng-if="Newbolum.id" ng-click="clearNewbolum()"><i class="fa fa-xmark"></i></a>
                                    </button>
                                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                        <li ng-repeat="x in bolumler"><a class="dropdown-item" ng-click="setNewBolum(x)">{{x.label}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-3 row">
                                <label for="exampleDataList" class="form-label">Hobiler</label>
                                <div class="dropdown dropright">
                                    <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span ng-repeat="h in NewHobi">{{h.label}},</span>
                                        <span ng-if="NewHobi.length==0">-select-</span>
                                          <a ng-if="NewHobi.length>0" ng-click="clearNewHobi()"><i class="fa fa-xmark"></i></a>
                                    </button>
                                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                        <li ng-repeat="x in Hobiler"><a class="dropdown-item" ng-click="setNewHobi(x)">{{x.label}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-3 row">
                                <label for="exampleDataList" class="form-label">Sinif Ögretmeni</label>
                                <div class="dropdown dropright">
                                    <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{NewSinifOgretmeni.label}}
                                        <a ng-if="NewSinifOgretmeni.id" ng-click="clearNewSinifOgretmeni()"><i class="fa fa-xmark"></i></a>
                                    </button>
                                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                        <li ng-repeat="x in SinifOgretmenler"><a class="dropdown-item" ng-click="setNewSinifOgretmeni(x)">{{x.label}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-3 row">
                                <label for="exampleDataList" class="form-label">Rehber Ögretmeni</label>
                                <div class="dropdown dropright">
                                    <button class="btn bg-light w-100 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{NewRehberOgretmeni.label}}
                                        <a ng-if="NewRehberOgretmeni.id" ng-click="clearNewRehberOgretmeni()"><i class="fa fa-xmark"></i></a>
                                    </button>
                                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                        <li ng-repeat="x in RehberOgretmenler"><a class="dropdown-item" ng-click="setNewRehberOgretmeni(x)">{{x.label}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-3 row justify-content-center ">
                                <button ng-click="kaydetNewSubmit()" class="btn btn-primary mb-3 col-5">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </modal>
                <!-- Sil -->
                <modal visible="showSilModal" id="sil" class="card mt-2">
                    <h5 class="card-title">{{SilinanOgrenci.nameFamily}}-öğrenci silme formu</h5>
                    <div class="card-body">
                        <div class="m-3 row">
                            <label for="exampleDataList" class="form-label">Silinme nedini</label>
                            <input class="form-control" id="SilinmeNedini" list="datalistOptions" id="SilinmeNedini" placeholder="type reason..." />
                        </div>
                        <div class="m-3 row  ">

                            <button class="btn btn-primary mb-3 col-4" ng-click="Vazgec()">Vazgec</button>

                            <button class="btn btn-danger mb-3 col-4 offset-4" ng-click="Sil(SilinanOgrenci)">Sil</button>

                        </div>
                    </div>
                </modal>
                <!-- ----- -->
            </div>
        </div>
    </div>
</div>

